:root {
    --grey: rgb(209, 221, 236);
}

body {
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 18vh auto;
    margin: 0;
}

#sidebar {
    background: linear-gradient(111.8deg, rgb(0, 146, 219) 19.8%, rgb(0, 112, 239) 92.1%);
    padding: 10%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto";
    grid-row-start: 0;
    grid-row-end: -2;
    z-index: 3;
}

#sidebar-title {
    display: flex;
    background-color: rgba(255, 255, 255, 0.116);
    border: 0;
    border-radius: 1vmin;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.055);
    padding: 5%;
}

#sidebar-title > i {
    margin: auto;
    font-size: 5vh;
}

#sidebar-title > h3 {
    margin: auto;
    font-size: 3vh;
}

#sidebar-links {
    display: grid;
    grid-template-rows: repeat(auto, 6vh);
    grid-template-columns: 20% 75%;
    column-gap: 2%;
    row-gap: 10%;
}

#sidebar-links i {
    margin: auto;
    font-size: 2vh;
    grid-column: 1;
}

#sidebar-links h3 {
    margin: auto 0;
    font-size: 2vh;
    font-weight: 400;
    grid-column: 2;
}

#activity-bar {
    background-color: white;
    box-shadow: 0 1px 6px rgb(146, 146, 146);
    z-index: 2;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 40% 50%;
    row-gap: 20%;
    padding: max(1.2vh,15px) max(3%,5px) max(3vh,15px);
    box-sizing: border-box;
}

#search-bar {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: max(1%, 0px) 0;

    display: flex;
    gap: max(1%,5px);
}

#search-bar i {
    margin: auto;
    padding-right: 15px;
    font-size: 2vh;
    /* grid-column: 0; */
}

#search-bar input {
    margin: auto;
    background-color: var(--grey);
    border: none;
    border-radius: 3vmin;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    flex-grow: 1;
    /* grid-column: 2; */
}

#profile-corner {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding: max(1.5%, 0px) 0 5px max(30%, 0px);
    box-sizing: border-box;

    display: flex;
    flex-direction: row-reverse;
    gap: max(10px,5%);
    overflow:hidden;
}

#profile-corner h3 {
    font-family: "Roboto";
    font-size:2vh;
    margin: auto;
    margin-right: 0;
    text-align: center;
}

#profile-corner i {
    font-size: 2.5vh;
    margin: auto;
}

.profile-pic {
    aspect-ratio: 1;
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
}

#profile-welcome {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: min-content auto;
    column-gap: max(2%, 5px);
    overflow: hidden;
    font-family: "Roboto";
}

#profile-welcome img {
    grid-row: span 2;
    grid-column: 1;
}
#profile-welcome h4 {
    grid-row: 1;
    grid-column: 2;
    font-size:1.6vh;
    margin: auto 0;
}
#profile-welcome h3 {
    grid-row: 2;
    grid-column: 2;
    font-size:3vh;
    margin: auto 0;
}

#actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: max(5px, 7%);
    margin-left: max(4px,5%);
}

#actions button {
    background-color: rgb(0, 131, 239);
    border: 0;
    border-radius: 3vmin;
    color: white;
    font-family: "Roboto";
    font-size: 1.8vh;
    font-weight: 400;

    margin: auto;
    flex-grow: 1;
    flex-basis: 100%;
    
    padding: max(6px,3.5%);
}

#workspace {
    grid-row: 2;
    grid-column: 2;

    height: 82vh;
    width: 100%;

    background-color: var(--grey);
    display: grid;
    grid-template-columns: 69% 29%;
    grid-template-rows: 47.5% 47.5%;
    row-gap: 5%;
    column-gap: 2%;
    
    padding: max(5px,2%);
    box-sizing: border-box;
}

#workspace > div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
}

#workspace > div > h3 {
    font-family: "Roboto";
    font-size: 1.2vw;
    margin-bottom: max(2px,1.5vh);
    margin-top: 0;
}

#projects {
    grid-column: 1;
    grid-row: span 2;
}

#projects > div {
    height: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: max(10px,3.5%);

    max-height: max-content;
    overflow-y: scroll;
    overflow-x: hidden;

    -ms-overflow-style: none;  
    scrollbar-width: none;

    border-radius: 1vmin;
}

#projects > div::-webkit-scrollbar {
    display: none;
}

.project-card {
    background-color: white;
    border: 0;
    border-radius: 1vmin;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: max(3px,2%) auto;
    grid-template-rows: 80% 20%;
    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.055);
}

#color-line {
    grid-column: 1;
    grid-row: span 2;
    margin: 0;
    border-radius: 1vmin 0 0 1vmin;

    background-color: orange;
}

#proj-info {
    grid-column: 2;
    grid-row: 1;
    margin: auto 0;
    padding: max(2px,4%) max(2px,5%);
    font-family: "Roboto";
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.project-card h3 {
    font-size: 1.2vw;
    margin: 0;
    margin-bottom: 5px;
}

.project-card p {
    font-size: 1vw;
    margin: 0;
    flex-grow: 1;
}

#card-buttons {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: row-reverse;
    gap: max(5px,7%);

    font-size: 1.2vw;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    padding: 0 max(2px,5%);
    padding-bottom: max(2px,5%);
    box-sizing: border-box;
}

#announcements-pane {
    background-color: white;
    border-radius: 1vmin;
    width: 100%;
    flex-grow: 1;

    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.055);

    display: flex;
    flex-direction: column;    
    padding: max(2px,1%) max(2px,5%);
    box-sizing: border-box;

    font-family: "Roboto";
    font-size: max(7px,1vw);
    font-weight: normal;
}

#trending-pane {
    background-color: white;
    border-radius: 1vmin;
    width: 100%;
    flex-grow: 1;

    box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.055);
}
