:root {
    --grey: rgb(209, 221, 236);
}

body {
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 18vh auto;
    margin: 0;
}

#sidebar {
    background: linear-gradient(111.8deg, rgb(0, 146, 219) 19.8%, rgb(0, 112, 239) 92.1%);
    padding: 10%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto";
    grid-row-start: 0;
    grid-row-end: -2;
    z-index: 3;
}

#sidebar-title {
    display: grid;
    grid-template-rows: repeat(auto-fill, 6vh);
    grid-template-columns: 25% 70%;
    column-gap: 5%;
}

#sidebar-title > i {
    margin: auto;
    font-size: 5vh;
}

#sidebar-title > h3 {
    margin: auto 0;
    font-size: 3vh;
}

#sidebar-links {
    display: grid;
    grid-template-rows: repeat(auto, 6vh);
    grid-template-columns: 20% 75%;
    column-gap: 2%;
    row-gap: 10%;
}

#sidebar-links i {
    margin: auto;
    font-size: 2vh;
    grid-column: 1;
}

#sidebar-links h3 {
    margin: auto 0;
    font-size: 2vh;
    font-weight: 400;
    grid-column: 2;
}

#workspace {
    background-color: var(--grey);
}

#activity-bar {
    background-color: white;
    box-shadow: 0 1px 6px rgb(146, 146, 146);
    z-index: 2;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 40% 50%;
    row-gap: 10%;
    padding-top: max(1.2vh,15px);
    padding-right: max(3%,5px);
}

#search-bar {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: max(1.5%, 10px) max(4%,10px);

    display: flex;
    gap: 5px;
    /* grid-template-rows: 100%;
    grid-template-columns: 5% 90%; */
}

#search-bar i {
    margin: auto;
    padding-right: 15px;
    font-size: 2vh;
    /* grid-column: 0; */
}

#search-bar input {
    margin: auto;
    background-color: var(--grey);
    border: none;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    flex-grow: 1;
    /* grid-column: 2; */
}

#profile-corner {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding: max(1.5%, 10px) 0 5px max(20%, 10px);
    box-sizing: border-box;

    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    overflow:hidden;
}

#profile-corner h3 {
    font-family: "Roboto";
    font-size:1vw;
    margin: auto;
    text-align: center;
}

#profile-corner i {
    font-size: 2.5vh;
    margin: auto;
}

.profile-pic {
    aspect-ratio: 1;
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
}

#profile-welcome {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

#profile-welcome img {
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column: 0;
    height: 50px;
    width: 50px;
}
#profile-welcome h4 {
    grid-row: 0;
    grid-column: 1;
}
#profile-welcome h3 {
    grid-row: 1;
    grid-column: 1;
}